<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FoodRecs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="toggle"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link" href="/">Home</a> -->
                <a class="nav-link" href="/recipes">Recipes</a>
                <a class="nav-link" href="/recipes/new">New Recipe</a>
            </div>
        </div>
    </div>
</nav>