<% layout('layouts/boilerplate')%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style1.css">
        <title>Home</title>


    </head>

    <body>
        <main id="homecontent" class="container-fluid p-3 rounded">
            <section id="main">
                <div class="row">
                    <h1>Welcome to Food Recs</h1>
                    <div class="col-8 offset-2">
                        <p>This website is an initiative by us to showcase our idea for a social media app for food
                            and recipes.
                            It is an online platform for posting your own creative and delicious recipes made available
                            to users
                            across the globe. They can edit their posts and recieve reviews from other users for their
                            recipes.
                            It provides a safe space for all the food enthusiasts to gather around in the online world,
                            showcase
                            their talents and learn from others.</p>
                        <div class="mb-3">
                            <a href="/recipes"><button class="btn btn-dark">Get started</button></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </body>

    </html>